body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    font-weight: 500;
    margin: 0px 0px 10px 0px;
}


.main {
    display: block;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}





.open {
    padding: 5px 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.open:hover {
    background-color: black;
    color: white;
}

.open-btn span {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: lightslategray;
    font-size: 15px;
    margin-top: 10px;
}

.delete {
    margin-top: 35px;
    width: 120px;
    height: 30px;
}




.list-text{
    display: flex;
    align-items: center;
}
.search {
    width: 100%;
}

.search input {
    width: 97%;
    margin: 0px;
    font-size: 18px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: none;
    border-radius: 4px;
    font-family:'Quicksand', sans-serif;;
    font-weight: 600;
}

.items {
    margin-top: 10px;
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 5px;
    height: 150px;
    overflow: auto;
}
.items::-webkit-scrollbar{
    display: none;
}
.item-date{
    color: lightslategray;
    font-size: 15px;
}

.item {
    width: 98%;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.item button {
    background-color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.item button:hover {
    background-color: rgb(242, 64, 64);
    color: white;
}

.item i {
    font-size: 17px;
}

.search-form {
    margin-top: 10px;
}


.list {
    margin-top: 60px;
}

.list-2 {
    margin-top: 30px;
}
.addItems{
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
.addItem-form input{
    width: 97%;
    margin: 0px;
    font-size: 18px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: none;
    border-radius: 4px;
    font-family:'Quicksand', sans-serif;;
    font-weight: 600;
}
.addItem-form button{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    margin-top: 5px;
    padding: 8px 6px;
    background-color: white;
    font-family:'Quicksand', sans-serif;;
    font-weight: 600;
    cursor: pointer;
}
.addItem-form button:hover{
    background-color: gray;
    color: white;
}

.locationList {
    display: flex;
    justify-content: space-between;
}

.btndata {
    display: flex;
    justify-content: flex-end;
}

.data {
    width: 160px;
    height: 35px;
    margin-top: 100px;
}

.add {
    width: 530px;
    height: 60px;
    margin-top: 15px;
    margin-left: 20px;
}

.plus {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.listFilter {
    display: flex;
    justify-content: space-between;
}

.listFilter span {
    font-size: 18px;
    font-weight: 600;
}

.blockSelect {
    width: 30%;
    display: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-family:'Quicksand', sans-serif;;
    font-weight: 600;
    border-radius: 4px;
    padding: 8px;
}
.exit{
    display: flex;
    justify-content: flex-end;
}
.exit i{
    font-size: 20px;
    cursor: pointer;
    color: black;
}
.exit i:hover{
    color: red;
}
.filter-var{
    width: 97%;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
}
.favourite{
    color: red;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    padding: 5px;
    display: block;
}
.favourite:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: red;
    color: white;
}


.item-text{
    cursor: pointer;
}

.important{
    color: blue;
}
.done{
    text-decoration: line-through;
    text-decoration-color: gray;
}
.onFilter{
    color: red;
}